/*
	### SETUP
*/

/* wire-framing */
div:not(.wrapper) {
/*	border: 1px solid black;*/
}

/* defaults */
html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}
table, th, td {
	border: 1px solid black;
}
a {
	text-decoration: none;
}

/* global */
body {
	font-family: "Quicksand", sans-serif;
	background: #f4f4f4;
	color: rgba(0, 0, 0, 0.9);
	margin: 0;
}

/*
	### CONTENT
*/

/* Nav Bar */
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5%;
	background: #242729;
}
.nav-bar img {
	border-radius: 50%;
	object-fit: cover;
	width: 6vw;
	height: 6vw;
	box-shadow: 0 0 2pt 1pt white;
	display: inline-block;
	vertical-align: middle;
}
.contact {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
}
.contact p {
	color: rgba(255, 255, 255, 0.9);
}
.contact-name {
	font-size: 1.4vw;
	margin: 0.3vw;
}
.contact-email, .contact-phone {
	font-size: 1.2vw;
	margin: 0.2vw;
}
.nav-bar a, .nav-bar button {
	font-size: 1.4vw;
	color: rgba(255, 255, 255, 0.9);
}
.nav-bar ul {
	padding: 0;
}
.nav-bar li {
	list-style: none;
	display: inline-block;
	padding: 0 0.8rem;
}
.nav-bar li a {
	/* so that after can be positioned relative to it */
	position: relative;
	transition: all 0.3s ease;
}
.nav-bar li a:hover {
	color: #2496ed;
}
.nav-bar li a::after {
	content: "";
	position: absolute;
	bottom: -0.1rem;
	left: 0;
	right: 0;
	height: 0.1rem;
	background: #2496ed;
	transform: scaleX(0);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-bar li a:hover::after {
	transform: scaleX(1);
}
.nav-bar button {
	background: #242729;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 1px solid rgba(255, 255, 255, 0.9);
	border-radius: 2px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-bar button:hover {
	color: #2496ed;
	border: 1px solid #2496ed;
}

/* hero */
.hero {
	/* not sure why this works */
	overflow: hidden;
	max-width: 50rem;
	margin: 5rem auto 0 auto;
}
.hero-intro {
	display: inline-block;
	width: 26rem;
}
.hero-intro h1 {
	margin: 1rem 0 0 3rem;
}
.hero-desc {
	position: relative;
	font-size: 1rem;
	margin: 0 0 2rem 4rem;
}
.hero-desc::before {
	content: "";
	position: absolute;
	left: -3rem;
	width: 2rem;
	top: 50%;
	height: 0.1rem;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.9);
}
.hero-desc::after {
	content: "";
	position: absolute;
	width: 2rem;
	top: 50%;
	height: 0.1rem;
	transform: translateY(-50%);
	background: rgba(0, 0, 0, 0.9);
	margin-left: 1rem;
}
.hero-about {
	font-size: 1.2rem;
}
.hero img {
	float: right;
	object-fit: cover;
	height: 26rem;
	width: auto;
	margin: 1rem;
}

/* logos */
.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 50rem;
	margin: 0 auto;
}
.logos img {
	height: 4rem;
	padding: 2rem;
}

/* sections */
section {
	max-width: 50rem;
	margin: 0 auto 9rem auto;
}
section h3 {
	font-size: 1.6rem;
}
section p {
	font-size: 1.4rem;
}

/* skills section */
section#skills {
	max-width: 70rem;
}
.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	height: 21rem;
	width: 18rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1rem 1rem 1rem 1rem;
	margin: 1rem;
}
.card-top {
	height: 30%;
	background: #242729;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem 1rem 0 0;
}
.card-bottom {
	box-sizing: border-box;
	height: 70%;
	background: #f4f4f4;
	color: rgba(0, 0, 0, 0.8);
	border-radius: 0 0 1rem 1rem;
	padding: 1rem 1rem 0 1rem;
}
.card-bottom p {
	font-size: 0.8rem;
}
.card-bottom a {
}
.card-bottom ul {
	text-align: center;
	padding: 0;
}
.card-bottom li {
	font-size: 0.7rem;
	display: inline-block;
	margin: 0.3rem 1.2rem;
}

/* mobile */
@media screen and (max-width: 1460px) {
	.nav-bar button {
		display: none;
	}
}
/*@media screen and (max-width: 1170px) {*/
/*	.nav-bar img {*/
/*		display: none;*/
/*	}*/
/*	.contact {*/
/*		margin-left: 0;*/
/*	}*/
/*}*/
@media screen and (max-width: 800px) {
	.nav-bar {
		justify-content: center;
	}
	.nav-bar nav {
		display: none;
	}
	.nav-bar img {
		display: inline-block;
	}
	.contact {
		margin-left: 1rem;
	}
}
