/** { outline: 0 !important; }*/
html {
}
body {
	font-family: "Quicksand", Arial, sans-serif;
	color: rgba(0, 0, 0, 0.7);
}

/* DIVS */
#wrapper {
	overflow: hidden;
}
div {
	outline: 2px solid black;
}


/* LOGOS */
#techlogos {
	padding-top: 3em;
	padding-bottom: 3em;
}
.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	outline: 4px solid black;
}
.logos img {
	height: 80px;
	padding: 25px 25px 25px 25px;
}


/*  MOBILE  */
@media screen and (max-width: 990px){
	/* For mobile phones: */
	#side {
		 height: 100%;
		 width: 300px;
		 transform: translateX(-300px);
	}
	#main {
		width: calc(100% - 80px);
	}
	#about .section-content {
		font-size: 1.7em;
	}
	.hamburger {
		opacity: 1;
		transition: 1.5s;
	}
	.hamburger i {
		visibility: visible;
	}
	#main-menu ul li {
		margin: 0 0 15px 0;
		padding: 0;
		letter-spacing: 1px;
		font-size: 22px;
	}
}

/*  HEADERS  */
h1, h2, h3, h4 {
	color: #000;
}

/*  LINKS  */
a {
	text-decoration: none;
	/* color: inherit; */
	color: blue;
	cursor: pointer;
}

/* TABLES */
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid black;
}

/*  GENERAL  */
.text-center {
	text-align: center;
}
::selection {
  color: #fff;
  background: #8c98f0;
}
