html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body {
    font-family: "Quicksand", Arial, sans-serif;
    color: rgba(0, 0, 0, 0.7);
}

/* DIVS */
#wrapper {
    overflow: hidden;
}
div {
    outline: 2px solid black;
}

#side {
    float: left;
    width: 300px;
}
#main {
    float: right;
    width: calc(100% - 300px);
}

#headshot {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#my-name {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: .5em;
}
#my-title {
    text-transform: uppercase;
}
#my-name a {
    display: block;
    color: #000;
}

#side {
    position: fixed;
}
#main-menu {
    width: 100%;
}
#main-menu ul {
    width: 100%;
    padding: 0;
}
#main-menu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 500;
}
#main-menu ul li a {
    position: relative;
    padding: 10px 0;
    color: rgba(0, 0, 0, 0.7);
/*     transition: 0.3s; */
}
#main-menu ul li a:hover {
    color: black;
}
#main-menu ul li.active a {
    color: #2c98f0;
}
#main-menu ul li a::after {
    content: "";
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #2c98f0;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#main-menu ul li a:hover::after {
    transform: scaleX(1);
}
#main-menu ul li.active a::after {
    transform: scaleX(1);
}

#hero {
    outline: 2px solid lightblue;
}
.main-section {
    padding-top: 4em;
    padding-bottom: 9em;
    outline: 2px solid green;
    clear: both;
}
#main .section-content {
    outline: 2px solid red;
}
#skills-div {
    display: flex;
    flex-wrap: wrap;
}
.skillcard {
    height: 250px;
    width: 250px;
    margin: 20px;
    perspective: 1000px;
    outline: 0;
}
.sc-inner {
    position: relative;
    width: 100%;
    height: 100%;
    color: #fff;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,0.8);
}
.sc-front, .sc-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2980b9;
    backface-visibility: hidden;
}
.sc-front {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sc-back {
    transform: rotateY(180deg);
}
.skillcard:hover .sc-inner {
    transform: rotateY(180deg);
}
.skillcard h3 {
    color: inherit;
}

#coding .sc-back{
    text-align: center;
}
#langs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#langs p{
    margin: 6px;
}


/*  HEADERS  */
h1, h2, h3, h4 {
    color: #000;
}

/*  LINKS  */
a {
    text-decoration: none;
    /* color: inherit; */
    color: blue;
}

/* TABLES */
table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

/*  GENERAL  */
.text-center {
    text-align: center;
}
::selection {
  color: #fff;
  background: #8c98f0;
  }
