/*
	### SETUP
*/

:root {
	/* off white */
	--color1: #f4f4f4;
	/* charcoal */
	--color2: #242729;
	/* blue highlight */
	--color3: #2996ed;
	/* slightly transparent black */
	--transp-black: rgba(0, 0, 0, 0.9);
	/* slightly transparent white */
	--transp-white: rgba(255, 255, 255, 0.9);
  /* --font: "Montserrat", sans-serif;*/
	--font: "Quicksand", sans-serif;
	--max-width: 50rem;
}

/* defaults */
html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input, select, textarea, button {
	font-family: inherit;
}

/* global */
body {
	font-family: var(--font);
	background: var(--color1);
	color: var(--transp-black);
	margin: 0;
}
p > code {
	background: #2b2b2b;
	color: #d4d0ab;
	border-radius: 3px;
	padding: 2px;
	font-size: 1rem;
}
.hljs {
	border-radius: 3px;
	font-size: 1rem;
}

/*
	### CONTENT
*/
header, main {
	width: min(90%, var(--max-width));
	margin: 0 auto 0 auto;
}
header ul {
	font-size: 1.4rem;
}
header ul li {
	margin-bottom: 0.3rem;
}
main p, main ul {
	font-size: 1.2rem;
	line-height: 1.5;
}
.blog-post {
	padding-left: 1rem;
	margin-bottom: 1rem;
	border-left: 1px solid var(--transp-black);
}
.date-time {
	color: #555;
}
li > a {
	color: var(--color3);
}
.li-active a {
	border-left: 3px solid var(--color3);
	padding-left: 0.8rem;
}
.intro {
	text-align: center;
}
.intro img {
	border-radius: 50%;
	object-fit: cover;
	width: 3rem;
	height: 3rem;
	box-shadow: 0 0 2pt 1pt white;
	display: inline-block;
	vertical-align: middle;
}
.intro .name {
	display: inline-block;
}

/* zkp */
.journal-entry {
	padding-left: 1rem;
	margin-bottom: 1rem;
	border-left: 1px solid var(--transp-black);
}
