/*
	### SETUP
*/

:root {
	/* off white */
	--color1: #f4f4f4;
	/* charcoal */
	--color2: #242729;
	/* blue highlight */
	--color3: #2496ed;
	/* slightly transparent black */
	--transp-black: rgba(0, 0, 0, 0.9);
	/* slightly transparent white */
	--transp-white: rgba(255, 255, 255, 0.9);
	--font: "Quicksand", sans-serif;
	--max-width: 50rem;
}

/* defaults */
html {
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
}
a {
	text-decoration: none;
}
input, select, textarea, button {
	font-family: inherit;
}

/* global */
body {
	font-family: var(--font);
	background: var(--color1);
	color: var(--transp-black);
	margin: 0;
}
section {
	width: min(90%, var(--max-width));
	margin: 0 auto 9rem auto;
}
section h2 {
	font-size: 2.2rem;
}
section h3 {
	font-size: 1.4rem;
}
section p {
	font-size: 1.4rem;
	line-height: 1.5;
}
section p > a {
	text-decoration: underline;
	color: var(--color3);
}
/* workaround for weirdness */
/* TODO: better way? */
.wrapper {
	overflow-x: hidden;
}

/*
	### CONTENT
*/

/* back to top */
.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	color: var(--color3);
}

/* nav bar */
.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5%;
	background: var(--color2);
}
.img-contact-wrapper {
	/* prevent wrapping of inline-block elements */
	white-space: nowrap;
}
.nav-bar img {
	border-radius: 50%;
	object-fit: cover;
	width: 6rem;
	height: 6rem;
	box-shadow: 0 0 2pt 1pt white;
	vertical-align: middle;
}
.contact {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
}
.contact p {
	color: var(--transp-white);
}
.contact-name {
	font-size: 1.4rem;
	margin: 0.3rem;
}
.contact-email, .contact-phone {
	font-size: 1.2rem;
	margin: 0.2rem;
}
.nav-bar a, .nav-bar button {
	font-size: max(1rem, 1.4vw);
	color: var(--transp-white);
}
.nav-bar ul {
	padding: 0;
	white-space: nowrap;
}
.nav-bar li {
	list-style: none;
	display: inline-block;
	padding: 0 0.7vw;
}
.nav-bar li a {
	/* so that after can be positioned relative to it */
	position: relative;
	transition: all 0.3s ease;
}
.nav-bar li a:hover {
	color: var(--color3);
}
.nav-bar li a::after {
	content: "";
	position: absolute;
	bottom: -0.1rem;
	left: 0;
	right: 0;
	height: 0.1rem;
	background: var(--color3);
	transform: scaleX(0);
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-bar li a:hover::after {
	transform: scaleX(1);
}
.nav-bar button {
	background: var(--color2);
	cursor: pointer;
	border: 1px solid var(--transp-white);
	border-radius: 2px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav-bar button:hover {
	color: var(--color3);
	border: 1px solid var(--color3);
}

/* hero */
.hero {
	/* not sure why this works */
	overflow: hidden;
	width: min(90%, var(--max-width));
	margin: 5rem auto 0 auto;
}
.hero-intro {
	display: inline-block;
	width: min(26rem, 90%);
}
.hero-intro h1 {
	margin: 1rem 0 0 4rem;
	text-align: center;
}
.hero-desc {
	position: relative;
	font-size: 1rem;
	margin: 0 0 2.5rem 3rem;
	text-align: center;
}
.hero-desc::before {
	content: "";
	position: absolute;
	left: -3rem;
	width: 2rem;
	top: 50%;
	height: 0.1rem;
	transform: translateY(-50%);
	background: var(--transp-black);
}
.hero-desc::after {
	content: "";
	position: absolute;
	width: 2rem;
	top: 50%;
	height: 0.1rem;
	transform: translateY(-50%);
	background: var(--transp-black);
	margin-left: 1rem;
}
.hero-about {
	font-size: 1.2rem;
	line-height: 1.5;
}
.hero img {
	float: right;
	object-fit: cover;
	height: 26rem;
	width: auto;
	margin: 1rem;
}

/* logos */
.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: min(90%, var(--max-width));
	margin: 0 auto 5rem auto;
}
.logos img {
	height: 4rem;
	padding: 2rem;
}
.flex-break {
	flex-basis: 100%;
	height: 0;
}

/*
	### CONTENT: sections
*/

/* projects section */
.project-wrapper .h3-plus-icon {
	/* prevent wrapping of inline-block elements */
	white-space: nowrap;
}
.project-wrapper .h3-plus-icon h3 {
	display: inline-block;
	vertical-align: middle;
	margin-left: 1rem;
}
.project-wrapper .h3-plus-icon img {
	width: 3rem;
	vertical-align: middle;
}

/* chessboard section */
.chessboard-wrapper {
	width: 32rem;
	margin: auto;
	/* needed so the floated button remains in flow */
	display: flow-root;
}
.chessboard {
	position: relative;
	height: 32rem;
}
.chessboard-wrapper button {
	float: right;
	margin: 0.5rem 0.5rem 0 0;
}
.chessboard table {
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	outline: 1px solid black;
}
.chessboard table tr:nth-child(odd) td:nth-child(odd),
.chessboard table tr:nth-child(even) td:nth-child(even) {
	background: var(--color2);
}
.chessboard .ranks {
	position: absolute;
	display: flex;
	flex-flow: column-reverse;
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	height: 100%;
}
.chessboard .files {
	display: flex;
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	width: 100%;
}
.chessboard .alg p {
	flex: auto;
	margin: 0;
}
.chessboard .alg p:nth-child(even) {
	color: white;
}

/* skills section */
.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	height: 23rem;
	width: 18rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 1rem 1rem 1rem 1rem;
	margin: 1rem;
	transition: transform 300ms ease;
}
.card:hover {
	transform: scale(1.05);
}
.card-top {
	height: 22%;
	background: var(--color2);
	color: var(--transp-white);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem 1rem 0 0;
}
.card-top p {
	text-align: center;
	font-size: 1.4rem;
}
.card-bottom {
	box-sizing: border-box;
	height: 78%;
	background: var(--color1);
	color: var(--transp-black);
	border-radius: 0 0 1rem 1rem;
	padding: 1rem 1rem 0 1rem;
}
.card-bottom p {
	font-size: 1rem;
	margin: 0 0 1rem 0;
	/* adding because I changed line-height for section p */
	line-height: normal;
}
.card-bottom ul {
	text-align: center;
	padding: 0;
}
.card-bottom li {
	font-family: "Montserrat", sans-serif;
	font-size: 0.8rem;
	display: inline-block;
	margin: 0.3rem 1.2rem;
}

/* certifications section */
.certifications-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
}
.certification {
	text-align: center;
	margin: 1rem;
}
.certification img {
	width: 8rem;
	vertical-align: middle;
}
.certification:nth-of-type(2) img {
	width: 14rem;
	margin-bottom: 1.5rem;
}
.certification-description {
	border-top: 2px solid var(--color3);
	margin-top: 2rem;
	padding: 0 1rem 0 1rem;
}
.certification-description p:nth-of-type(1) {
	margin-bottom: 0;
}
.certification-description p:nth-of-type(2) {
	font-size: 1rem;
}

/* blog section */
.blog-section ul {
	font-size: 1.4rem;
}
.blog-section ul li {
	margin-bottom: 0.3rem;
}
.blog-section li > a {
	color: var(--color3);
}


/* contact section */
.contact-form-wrapper {
	margin: 0 auto;
	padding: 1rem;
	background: var(--color2);
	border-radius: 0.5rem;
}
.contact-form-wrapper p {
	color: var(--transp-white);
	margin: 0.5rem 0 0 0;
}
.contact-form-wrapper input[type=text],
.contact-form-wrapper textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 0.8rem;
	margin: 0.5rem 0;
	border-radius: 0.5rem;
}
.contact-form-wrapper input[type=text]:focus,
.contact-form-wrapper textarea:focus {
	outline: 0;
	box-shadow: 0 0 0 2pt var(--color3);
}
.contact-form-wrapper input[type=text]:nth-of-type(1) {
	width: 49%;
	float: left;
}
.contact-form-wrapper input[type=text]:nth-of-type(2) {
	width: 49%;
	float: right;
}
.contact-form-wrapper textarea {
	resize: none;
	height: 8rem;
}
.contact-form-wrapper button {
	background: var(--color2);
	cursor: pointer;
	border: 1px solid var(--transp-white);
	border-radius: 2px;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	color: var(--transp-white);
	font-size: 1.4rem;
}
.contact-form-wrapper button:hover {
	color: var(--color3);
	border: 1px solid var(--color3);
}

/* responsive */
@media screen and (min-width: 1200px){
	.cards-wrapper {
		/* TODO: find a better strategy for this */
		width: 70rem;
		/* section width: 50 */
		transform: translateX(-10rem);
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.nav-bar ul {
		display: none;
	}
	.cards-wrapper {
		/* TODO: find a better strategy for this */
		width: 70rem;
		/* section width: 50 */
		transform: translateX(-10rem);
	}
}
@media screen and (min-width: 577px) and (max-width: 991px) {
	.nav-bar ul {
		display: none;
	}
	.nav-bar img {
		display: none;
	}
	.contact {
		margin-left: 0;
	}
	.hero {
		margin: 2rem auto 0 auto;
	}
	.hero-intro {
		display: block;
		margin: 0 auto;
	}
	.hero img {
		display: block;
		float: none;
		margin: 2rem auto 1rem auto;
	}
	.flex-break {
		display: none;
	}
}
@media screen and (max-width: 576px) {
	.nav-bar ul {
		display: none;
	}
	.nav-bar img {
		display: none;
	}
	.contact {
		margin-left: 0;
		margin-right: 1rem;
	}
	.hero {
		margin: 2rem auto 0 auto;
	}
	.hero-intro {
		display: block;
		margin: 0 auto;
	}
	.hero img {
		display: block;
		float: none;
		margin: 2rem auto 1rem auto;
	}
	.hero-intro h1 {
		margin: 1rem 0 0 0;
	}
	.hero-desc {
		margin: 0 0 2.5rem 0;
	}
	.hero-desc::before,
	.hero-desc::after {
		display: none;
	}
	.flex-break {
		display: none;
	}
}
